*,
*::before,
*::after {
  box-sizing: border-box;
}

/* level-1-2 */
html {
  font-size: 20px;
  font-weight: 400;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #d3b714;
}

.main-header__logo img {
  width: 170px;
}

.main-nav {
  margin-right: -5px;
  margin-left: -5px;
}

.nav__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.nav__item {
  padding: 0 5px;
}

.nav__item>a {
  color: #000;
  text-decoration: none;
}

.nav__item>a:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.main-content {
  text-align: center;
  padding: 30px 20px 15px;
}

.main-content__desc {
  margin-bottom: 15px;
}

.works h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.works__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

.works__item {
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  margin: 0 10px 25px;
  padding: 15px;
  border: 2px solid #8e8e8e;
  border-radius: 20px;
  transition: box-shadow .2s linear;
}

.works__item:hover {
  box-shadow: 0 0 7px 4px rgba(27, 27, 27, 0.3);
}

.works img {
  align-self: center;
  width: 110px;
  height: 110px;
  margin-bottom: 20px;
  border: 11px solid #c7b7b7;
  border-radius: 50%;
}

.works__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.works__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1rem;
}

.works__desc {
  flex: 1;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: .85rem;
}

.btn {
  align-self: center;
  padding: 0.25em 1em;
  text-decoration: none;
  color: #fff;
  background-color: #685174;
  border-radius: 15px;
  transition: background-color .3s ease;
}

.btn:hover {
  background-color: #584563;
}

.btn:active {
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

.aside {
  flex: 1 0 210px;
  padding: 20px;
  text-align: center;
}

.aside-left {
  order: -1;
  background-color: #c798b9;
}

.aside-right {
  background-color: #9cb1c7;
}

.main-footer {
  padding: 20px 0;
  text-align: center;
  background-color: #86ec86;
}

/* level-3 */
.holder {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 30px auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  border: 3px solid #000;
}

.item {
  padding: 15px;
  flex-basis: 50%;
  font-weight: 700;
  text-align: center;
}

.item:first-child {
  background-color: #fd644d;
}

.item:nth-child(2) {
  order: 4;
  flex: 1;
  background-color: #4983b2;
}

.item:nth-child(3) {
  order: 3;
  flex: 1;
  background-color: #663797;
}

.item:nth-child(4) {
  order: 5;
  flex: 1;
  background-color: #0e7f12;
}

.item:last-child {
  order: 2;
  background-color: #fda429;
}