*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar {
  flex-shrink: 0;
  width: 200px;
  padding: 10px;
  background-color: #9cb0c7;
}

.left {
  flex-shrink: 0;
  width: 200px;
  padding: 10px;
  background-color: #c798b8;
  order: -1;
}

.logo-picture {
  width: 140px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0;
  padding: 15px;
}

#bar-toggle {
  display: none;
}

.bar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bar-list li {
  margin: 10px;
}

.bar-list a {
  text-decoration: none;
  color: #000;
}

.main {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.content-header {
  display: block;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 30px;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.card {
  margin: 0 10px 20px;
  width: calc(33.333% - 20px);
  padding: 10px 15px 15px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  width: 100%;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3em;
  border: 2px solid #f50;
  color: #fff;
  background-color: #f90;
}

.image-box {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid blue;
}

.image-box img {
  vertical-align: top;
}

.page-footer {
  padding: 10px 15px;
  background-color: rgba(0, 255, 0, .5);
  text-align: center;
}

@media (max-width: 991px) {

  .main {
    display: block;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 767px) {

  .main-header {
    position: relative;
  }

  .bar-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99;
    transform: translateY(-50%);
  }

  .bar-btn>span,
  .bar-btn>span::before,
  .bar-btn>span::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition: transform .3s ease;
  }

  .bar-btn>span::before {
    content: '';
    top: -8px;
  }

  .bar-btn>span::after {
    content: '';
    top: 8px;
  }

  .bar-list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, .5);
    z-index: 10;
    transition: left .5s ease, visibility .5s ease;
  }

  .bar-list li {
    display: block;
    padding: 12px;
    margin-right: 0px;
    margin-left: 0px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color .3s ease;
  }

  .bar-list li:hover {
    background-color: #CFD8DC;
  }

  #bar-toggle:checked~.bar-btn>span {
    transform: rotate(45deg);
  }

  #bar-toggle:checked~.bar-btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #bar-toggle:checked~.bar-btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #bar-toggle:checked~.bar-list {
    visibility: visible;
    left: 0;
  }

  .card {
    width: calc(50% - 20px);
  }

}

@media (max-width: 720px) {

  .card-box .slick-track {
    display: flex;
    align-items: stretch;
  }

  .card-box .card.slick-slide {
    display: flex;
    height: auto;
  }

}

@media (max-width: 575px) {

  .bar-list {
    width: 240px;
    padding-top: 50px;
  }

  .card {
    width: 100%;
  }

  .image-box {
    width: 40%;
  }

}